<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/core/sendLocation.js}" ></script>
</head>
<body>
<!--     <p th:text="'Hello, ' + ${name} + '!'" /><br/> -->
<br/><br/><br/>
    <div id="time" style="font-size: 800%; text-align: center;">Cargando...</div>
    <div id="ll" style="font-size: 350%; text-align: center;"></div> 
</body>
</html>